.side-menu {
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
  width: $menu-width;
  padding-top: $menu-top-pad;
  transition: all .5s ease-in-out;
  background-color: white;
  border-right: 1px solid #eaeaea;

  a {
    text-decoration: none;
  }

  h6 {
    font-size: $font-size-small;
  }

  h6.selected {
    font-weight: 700;
  }
}