// Colors
$dark-grey: #333;
$grey: #666;
$border-grey: #dadada;
$blue: #1c88bf;
$dark-blue: #364051;
$extra-dark-blue: #242931;
$off-white: #f7f7f7;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.3rem;
// Spacing
$xs-size: 1.0rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$m2-size: 2.0rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;
$desktop-breakpoint: 45rem;

$page-background-color: #E1E2E1;
$page-text-color: #000000;

//colors
$primary-dark: #445a64;
$primary-dark-text: #ffffff;
$primary-light: #718792;
$primary-light-text: #000000;
$primary-shadow: #1c313a;
$primary-shadow-text: #ffffff;

//secondary
$secondary-dark: #00e5ff;
$secondary-light: #6effff;
$secondary-shadow: #00b2cc;

//layout dims
$menu-width: 280px;
$menu-top-pad: 80px;
$header-height: 64px;