// Colors
$dark-grey: #333;
$grey: #666;
$border-grey: #dadada;
$blue: #1c88bf;
$dark-blue: #364051;
$extra-dark-blue: #242931;
$off-white: #f7f7f7;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$m2-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//colors
$primary-dark: #408769;
$primary-light: #74b5ad;
$primary-shadow: #346C54;

//layout dims
$menu-width: 280px;
$menu-top-pad: 80px;
$header-height: 64px;